.Product {
  width: 300px;
  min-height: 300px;
  border: 1px solid orange;
  background-color: rgba(255, 166, 0, 0.2);
  margin: 5px;
  cursor: pointer;
}

.Product:hover {
  background-color: rgba(255, 166, 0, 0.555);
}

.Product img {
  display: block;
  width: 200px;
  height: 200px;
  margin: 5px auto 0 auto;
  margin-left: auto;
  margin-right: auto;
}

.Product h3, h4 {
  text-align: center;
  padding: 0;
  margin: 5px 0 5px 0;
}

.Product div {
  margin: 5px;
}

